backports.weakref==1.0.post1
bleach==1.5.0
certifi==2020.6.20
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
html5lib==0.9999999
Keras==2.0.8
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
protobuf==3.17.3
PyYAML==5.4.1
scipy==1.2.3
six==1.16.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
Werkzeug==1.0.1
